{
	"useTabs": true,
	"tabWidth": 2,
	"bracketSpacing": true,
	"printWidth": 80,
	"proseWrap": "always",
	"jsxSingleQuote": false,
	"semi": true,
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "crlf"
}

